page-dialogue {
    .aa{
        margin-top:10px;
    }
    .pp{
        font-size:20px;
        text-align: center;
    }
    .tu{
        width:60px;
        height:60px;
        border-radius:50%;
        position: relative;
        right:-13%;

        
    }
    .bt1{
        position: relative;
        right:-15%;
        margin-top:-15%;
    }
    .tu2{
        width:60px;
        height:60px;
        border-radius:50%;
        position: relative;
      
        top:20px;
    }
   .foot{
       float:left;
       text-align: center;
       height:50px;
       line-height:50px;
   }
   .icon1{
    margin-left:20px;
    margin-top:-10px;
   }
   .icon2{
    margin-right:-210px;
   }
   .icon3{
    margin-right:-250px;
   }
}
