page-searchinf {
 .select{
     margin-left:5%;
 }

 .cc{
    color:#e8e8e8;
}
.ee{
    margin-top:10px;
}
.dd{
    margin-top:30px;
}
.im{
    width:40px;
    height:40px;
}
.ff{
    float:left;
    margin-left:0px;
}
.hh{
    float:left;
    margin-left:28px;
}
.gg{
    color:black;
}
.pp{
    color:#c94966;
    font-size:26px;
}
.ah{
    float:left;
    margin-left:8px;
    margin-top:23px;
}
}
